# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.RoboticsFCSimulator.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Eric\Desktop\New SP\RoboticsFCSimulator\.idea\.idea.RoboticsFCSimulator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
